body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: chocolate;
  align-items: center;
  
}

h1 {
  color:rgb(0, 0, 0);
  text-align: center;
}
h2 {
  color:rgb(0, 0, 0);
  text-align: center;
}
h3 {
  color:rgb(0, 0, 0);
  text-align: center;
}
p {
  color: rgb(0, 0, 0);
  text-align:center;
}

.button{ 
  text-align: center;
}
a {
  color: #000000;
}
